/* variables */
$background-color: #ebe8de;
$orange: #e56038;
$font-family: 'Open Sans', sans-serif;
$color: #333333;
$p-color: #4a463b;

/* General rules */
body {
  border-top: 5px solid $orange;
  background: $background-color;
  font-family: 'Open Sans', sans-serif;
  color: $color;
}

input {
  font-family: $font-family;
  font-size:16px;
  padding: 7px;
  outline: 0;
  border:0;
  width:250px;
  /*background: $background-color;*/
  border-radius:5px;
}

input[type=submit] {
  width:auto;
  padding: 5px 18px;
  line-height:25px;
  text-shadow:none;
  cursor:pointer;
  box-shadow: none;
  background: #333333;
  color: #fff;
}

p {
  margin: 5px 0;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color .5s ease;
}

strong {
  font-weight: bold;
}

figcaption {
  line-height: 25px;
  font-size: 14px;
  width: 200px;

  strong {
    border-bottom: 1px solid #d6d0c1;
    padding-bottom: 10px;
    margin: 10px 0;
    display: block;
  }
}

.clear {
  clear: both;
}

.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
}

/* Specific rules on each seations */
/* header section */
header {
  position: relative;
  width: auto;
  max-width: 900px;
  margin: 0 auto 20px auto;

  h1 {
    margin: 35px 0 0 0;
    font-size: 55px;
    color: $orange;
    font-family: $font-family;
  }

  p {
    font-family: $font-family;
    font-size: 16px;
    color: $p-color;
    margin-left: 220px;
  }

  nav {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

nav ul {
  list-style: none;
  li {
    display: block;
    float: left;
    padding: 3px 15px;

    a {
      text-transform: uppercase;
      transition: all .25s ease;
    }

    a:hover {
      color: $orange;
    }
  }
}

/* slider-images section */
.container {
  width: auto;
  position: relative;
  margin: 0 auto;
  /*
  #slides {
    display: none;
  }
  */
}

#slider_content1, #slider_content2, #slider_content3 {
  line-height: 25px;
  width: 350px;
  position: absolute;
  top: 5%;
  left: 15%;
  display: none;
  z-index: 11;

  h3 {
    color: $background-color;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: $color;
    padding: 10px 15px;
    border-radius: 15px 0 15px 0;
    display: inline-block;
  }

  p {
    margin: 0 0 30px 0;
    color: $p-color;
    background-color: $background-color;
    padding: 10px 15px;
    border-radius: 5px;
  }
}

#slider_content1 {
  display: block;
}

/* spacer section */
#spacer {
  width: auto;
  height: 70px;
  background-color: $orange;
  position: relative;
  color: #fff;
  font-size: 18px;

  p {
    margin-top: 22px;
    width: auto;
    position: absolute;
    left: 50%;
    margin-left: -450px;
  }

  .search {
    margin-top: 15px;
    width: auto;
    position: absolute;
    right: 50%;
    margin-right: -450px;
  }
}

/* boxcontent section */
#boxcontent {
  width: auto;
  max-width: 900px;
  margin: 0 auto;
  padding: 70px 0 45px 0;

  article {
    width: 250px;
    margin-right: 45px;
    float: left;
    font-size: 14px;

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
      margin-left: 75px
    }

    p {
      line-height: 25px;
      margin-left: 75px;
    }

    img {
      float: left;
    }
  }
}

/* Section four-columns and text-columns */
#four-columns, #text-columns {
  width: auto;
  max-width: 900px;
  line-height: 25px;
  margin: 0 auto;
}

#four-columns h2, #text-columns h3 {
  font-size: 20px;
  border-bottom: 1px solid #d6d0c1;
  padding: 20px 0;
  margin-bottom: 20px;
}

#four-columns .img-item {
  float: left;
  margin-right: 25px;

  a {
    position: relative;
    display: block;
  }
}

.thumb-screen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 113px;
  background: #000 url("../images/zoom.png") center center no-repeat;
  z-index: 99;
  opacity: 0;
  transition: opacity .5s ease;
}

.thumb-screen:hover {
  opacity: 0.5;
}

#text-columns {
  width: auto;
  max-width: 900px;
  .column1, .column2 {
    margin: 70px 0;
    font-size: 14px;
    display: inline-block;
    width: 450px;
    float: left;
  }

  .column2 {
    margin: 120px 0
  }

  .row {
    position: relative;
    margin: 40px 0 0 50px;
    float: right;
    width: 350px;

    img {
      float: left;
    }

    p {
      margin-left: 100px;
    }
  }
}