/* variables */
/* General rules */
body {
  border-top: 5px solid #e56038;
  background: #ebe8de;
  font-family: 'Open Sans', sans-serif;
  color: #333333; }

input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 7px;
  outline: 0;
  border: 0;
  width: 250px;
  /*background: $background-color;*/
  border-radius: 5px; }

input[type=submit] {
  width: auto;
  padding: 5px 18px;
  line-height: 25px;
  text-shadow: none;
  cursor: pointer;
  box-shadow: none;
  background: #333333;
  color: #fff; }

p {
  margin: 5px 0;
  line-height: 25px; }

a {
  text-decoration: none;
  color: inherit;
  transition: color .5s ease; }

strong {
  font-weight: bold; }

figcaption {
  line-height: 25px;
  font-size: 14px;
  width: 200px; }
  figcaption strong {
    border-bottom: 1px solid #d6d0c1;
    padding-bottom: 10px;
    margin: 10px 0;
    display: block; }

.clear {
  clear: both; }

.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); }

/* Specific rules on each seations */
/* header section */
header {
  position: relative;
  width: auto;
  max-width: 900px;
  margin: 0 auto 20px auto; }
  header .icon {
    position: fixed;
    top: 10px;
    left: 10px;
    display: block;
    width: 40px;
    height: 36px;
    cursor: pointer;
    z-index: 99;
    display: none; }
    header .icon .upperbar, header .icon .middlebar, header .icon .lowerbar {
      display: block;
      position: absolute;
      width: 40px;
      height: 8px;
      background: #e56038; }
    header .icon .upperbar {
      top: 0; }
    header .icon .middlebar {
      top: 14px; }
    header .icon .lowerbar {
      top: 28px; }
  header h1 {
    margin: 35px 0 0 0;
    font-size: 55px;
    color: #e56038;
    font-family: "Open Sans", sans-serif; }
  header p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #4a463b;
    margin-left: 200px; }
  header nav {
    position: absolute;
    right: 0;
    bottom: 0; }

nav ul {
  list-style: none; }
  nav ul li {
    display: block;
    float: left;
    padding: 3px 15px; }
    nav ul li a {
      text-transform: uppercase;
      transition: all .25s ease; }
    nav ul li a:hover {
      color: #e56038; }

/* slider-images section */
.container {
  width: auto;
  position: relative;
  margin: 0 auto; }
  .container .button {
    background: #e56038;
    color: #ebe8de;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 3px 3px 3px #777;
    transition: all .4s ease; }
  .container .button:hover {
    color: #333333;
    background: #ebe8de;
    cursor: pointer; }
  .container #slides {
    display: none; }

#slider_content1, #slider_content2, #slider_content3 {
  line-height: 25px;
  width: 350px;
  position: absolute;
  top: 20%;
  left: 15%;
  display: none;
  z-index: 11; }
  #slider_content1 h3, #slider_content2 h3, #slider_content3 h3 {
    color: #ebe8de;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #333333;
    padding: 10px 15px;
    border-radius: 15px 0 15px 0;
    display: inline-block;
    opacity: 0.6; }
  #slider_content1 p, #slider_content2 p, #slider_content3 p {
    margin: 0 0 20px 0;
    color: #4a463b;
    background-color: #ebe8de;
    opacity: 0.6;
    padding: 10px 15px;
    border-radius: 5px; }
    #slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p .responsive_button {
      display: none; }

#slider_content1 {
  display: block; }

/* spacer section */
#spacer {
  width: auto;
  height: 70px;
  background-color: #e56038;
  position: relative;
  color: #fff;
  font-size: 18px; }
  #spacer p {
    margin-top: 22px;
    width: auto;
    position: absolute;
    left: 50%;
    margin-left: -450px; }
  #spacer .search {
    margin-top: 15px;
    width: auto;
    position: absolute;
    right: 50%;
    margin-right: -450px; }

/* boxcontent section */
#boxcontent {
  width: auto;
  max-width: 900px;
  margin: 0 auto;
  padding: 70px 0 45px 0; }
  #boxcontent article {
    width: 250px;
    margin-right: 45px;
    float: left;
    font-size: 14px; }
    #boxcontent article h3 {
      font-size: 20px;
      margin-bottom: 10px;
      margin-left: 75px; }
    #boxcontent article p {
      line-height: 25px;
      margin-left: 75px; }
    #boxcontent article img {
      float: left; }

/* Section four-columns and text-columns */
#four-columns, #text-columns {
  width: auto;
  max-width: 900px;
  line-height: 25px;
  margin: 0 auto; }

#four-columns h2, #text-columns h2 {
  font-size: 20px;
  border-bottom: 1px solid #d6d0c1;
  padding: 20px 0;
  margin-bottom: 20px; }

#four-columns .img-item {
  float: left;
  margin-right: 25px; }
  #four-columns .img-item a {
    position: relative;
    display: block; }

.thumb-screen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 113px;
  background: #000 url("../images/zoom.png") center center no-repeat;
  z-index: 99;
  opacity: 0;
  transition: opacity .5s ease; }

.thumb-screen:hover {
  opacity: 0.5; }

#text-columns {
  width: auto;
  max-width: 900px; }
  #text-columns .column1, #text-columns .column2 {
    margin: 70px 0;
    font-size: 14px;
    display: inline-block;
    width: auto;
    max-width: 450px;
    float: left; }
  #text-columns .column2 {
    margin: 120px 0; }
  #text-columns .row {
    position: relative;
    margin: 40px 0 0 50px;
    float: right;
    width: 350px; }
    #text-columns .row img {
      float: left; }
    #text-columns .row p {
      margin-left: 100px; }

/* footer .wrapper section */
footer {
  position: relative;
  width: auto;
  height: 350px;
  background: #333333; }
  footer .wrapper {
    line-height: 25px;
    margin: 0 auto;
    padding-top: 30px;
    width: auto;
    max-width: 900px;
    font-size: 14px; }
    footer .wrapper .column {
      color: #ababab;
      float: left;
      width: 280px;
      margin-right: 20px; }
      footer .wrapper .column h4 {
        font-size: 16px;
        color: #fff;
        border-bottom: 1px solid #444444;
        padding: 0 0 10px 0;
        margin: 0 0 10px 0; }
    footer .wrapper .midlist ul li {
      padding: 0 0 10px 25px;
      margin-bottom: 10px;
      border-bottom: 1px solid #444444;
      background: url(../images/arrowright.png) left 6px no-repeat; }
      footer .wrapper .midlist ul li a:hover {
        color: #fff; }
    footer .wrapper .rightlist ul li {
      width: auto;
      margin-bottom: 15px; }
      footer .wrapper .rightlist ul li a img {
        float: left;
        transition: border .15s ease;
        border: 3px solid #444444; }
      footer .wrapper .rightlist ul li a img:hover {
        border-color: #6e6e6e; }
      footer .wrapper .rightlist ul li a span {
        margin-left: 95px;
        display: block; }
      footer .wrapper .rightlist ul li a:hover {
        color: #fff; }

/* footer #copyright section */
#copyright {
  background: #1d1d1d;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  #copyright .wrapper {
    padding-top: 25px;
    color: #6e6e6e;
    font-size: 14px;
    position: relative; }
    #copyright .wrapper a {
      color: #ababab; }
    #copyright .wrapper a:hover {
      color: #fff; }
    #copyright .wrapper .social {
      position: absolute;
      top: 25px;
      right: 0; }
      #copyright .wrapper .social a {
        transition: opacity .15s ease;
        opacity: 0.3;
        margin-left: 12px;
        display: block;
        float: left; }
      #copyright .wrapper .social a:hover {
        opacity: .99; }

/* responsive */
@media screen and (max-width: 1215px) {
  #slider_content1, #slider_content2, #slider_content3 {
    width: auto;
    margin-right: 50px; }
    #slider_content1 h3, #slider_content2 h3, #slider_content3 h3 {
      font-size: 18px; }
    #slider_content1 p, #slider_content2 p, #slider_content3 p {
      font-size: 14px; }
      #slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p .responsive_button {
        display: inline;
        color: #000;
        transition: all .4s ease; }
      #slider_content1 p .responsive_button:hover, #slider_content2 p .responsive_button:hover, #slider_content3 p .responsive_button:hover {
        color: #e56038; }

  .container .button {
    display: none; } }
@media screen and (max-width: 915px) {
  #spacer {
    font-size: 15px; }
    #spacer .search {
      margin: 17px -385px 0 0; }
    #spacer p {
      margin-left: -385px; }
    #spacer input {
      padding: 4px;
      font-size: 14px; }
    #spacer input[type=submit] {
      padding: 1px 14px; }

  #boxcontent article {
    float: none;
    margin: 30px auto 0 auto;
    width: 60%; }

  #four-columns {
    width: 500px;
    padding-left: 20px; }
    #four-columns .img-item:nth-of-type(3), #four-columns .img-item:nth-of-type(4) {
      margin-top: 25px; }

  #text-columns {
    max-width: 500px; }
    #text-columns .column1, #text-columns .column2 {
      float: none;
      max-width: 500px;
      margin: 50px 30px 0 30px; }
      #text-columns .column1 .row, #text-columns .column2 .row {
        float: none;
        margin-bottom: 40px; }

  footer .wrapper .column {
    font-size: 12px;
    width: 230px; }

  #copyright .wrapper .social {
    right: 50px; } }
@media (max-width: 765px) {
  .container {
    position: absolute;
    top: -1500px; }

  header {
    height: 120px; }
    header nav {
      right: auto;
      bottom: auto;
      left: 50%;
      margin-left: -184px; }

  #spacer {
    height: 100px; }
    #spacer p {
      text-align: center;
      position: static;
      margin: 0 auto;
      padding: 15px 0 7px 0; }
    #spacer .search {
      text-align: center;
      position: static;
      margin: 0 auto; }

  footer {
    padding-bottom: 70px;
    height: auto; }
    footer .wrapper {
      width: 350px;
      margin: 0 auto; }
      footer .wrapper .column {
        margin-top: 30px;
        width: auto;
        font-size: 14px; }
      footer .wrapper .social {
        display: none; } }
@media (max-width: 500px) {
  #four-columns .img-item {
    width: 200px;
    float: none;
    margin: 25px auto 0 auto; } }
